nav {
  height: 60px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(#000, 0.1);
  font-size: 20px;

  .u-container {
    height: 100%;
    line-height: 60px;
    text-decoration: underline;
    font-weight: 700;
  }
}